footer {
    grid-area: footer;
    grid-column: 1 / span 3;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(4, 4, 43, 1) 0%, rgba(17, 32, 89, 1) 0%, rgba(23, 45, 109, 1) 98%, rgba(23, 45, 109, 1) 98%);

    .contenedor-footer {
        display: flex;
        height: 9rem;
        padding: 1rem;
        @include tablet(){
            padding:2rem;
        }
        @include mv(){
            width: 100%;
            height: 100%;
        }
        

        .container-footer {
            width: 17%;
            @include mv(){
                display: none;
            }
            a {
                width: 25%;

                img {
                    width: 75%;
                    height: 100%;
                }
            }
        }

        .titulo-footer {
            width: 80%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            @include tablet(){
             width: 35%;       
            }

            h3 {
                font-size: 2rem;
                color: rgb(245, 245, 245);
                @include tablet(){
                    font-size: 1.75rem;
                }
            }
        }

        .imagenes-footer {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            @include tablet(){
             width: 19%;
             justify-content: space-around;       
            }
            @include mv(){
                display: flex;
                flex-direction: column;
            }

            a {
                width: 5%;
                @include tablet(){
                 width: 25%;   
                 @include mv(){
                     width: 20%;
                     margin-top: 0.5rem;
                 }
                }
                img {
                    width: 80%;

                }
            }
        }

        .contenedor-copy {
            width: 100%;

            .copy {
                margin: 0px;
                text-align: center;
                @include tablet(){
                 margin: 0px;
                 text-align: center;   
                }
            }
        }
    }
}